{
    "token": "...", // Discord bot token
    "default_prefix": "D--> ", // Debug prefix used for admin commands (only in special chanenls)
    "default_guild_id": 0, // Default guild for tasks that require a guild
    "usrlog_channel_id": 1, // Would send user join/leave logs, currently allows debug commands in this channel
    "msglog_channel_id": 2, // Would send message logs, currently sends the bot logs
    "modlog_channel_id": 3, // Sends mod action logs
    "censored_words": ["pillweef"], // Censors words (useful for user/AI data)
    "censor_character": "*", // Letters in those words will be replaced with this character
    "database_path": "data/bot_data.db",
    "enabled_cogs": ["admin", "errors"] // Empty array loads all cogs. Add cog names to enable only specific ones.
}